 @import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500;600;700;800;900&family=Lora:wght@500;600&display=swap');

 * {
     font-family: 'Crimson Pro', serif;
     /* font-family: 'Montserrat', sans-serif; */
     background: #181719;
 }

 body {
     /* width: 1440px;
    height: 1080px; */
     padding: 50px 85px;
 }

 nav {
     background: #181719;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }

 .menu {
     overflow: hidden;
 }

 .menu .icon {
     display: none;
 }

 .navbar .title {
     color: #FFF;
     font-size: 14px;
     font-weight: 200;
     text-transform: uppercase;
     width: 150px;
     border: 1px solid #FFF;
     text-align: center;
 }

 /* nav ul {
     list-style-type: none;
     margin: 0;
 } */

 nav a {
     float: left;
     margin: 0 25px;
     display: block;
     text-align: center;
     /* width: 60px; */
     text-decoration: none;
     color: #FFF;
     font-family: Montserrat;
     font-size: 18px;
     font-weight: 400;
 }

 nav a:hover {
     font-weight: 700;
     color: #FFF;
 }

 nav a::after {
     content: '';
     display: block;
     width: 0;
     height: 2px;
     background: #FFF;
     transition: width .3s;
 }

 nav a:hover::after {
     width: 100%;
     transition: width .3s;
 }

 .container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin-top: 100px;
 }

 .container .left h1 {
     color: #FFF;
     font-family: Lora;
     font-size: 48px;
     font-weight: 600;
 }

 .container .left p {
     color: #FFF;
     font-family: Montserrat;
     font-size: 18px;
     font-weight: 300;
     margin-top: 20px;
     width: 410px;
 }

 .container .left .btn {
     color: gray;
     font-family: Montserrat;
     font-size: 18px;
     font-weight: 700;
 }

 .container .left .btn:hover {
     color: #FFF;
 }

 .read-sign {
     display: flex;
     flex-direction: row;
     cursor: pointer;
 }

 .container .left i {
     color: #FFF;
     font-size: 18px;
     font-weight: 700;
     margin-left: 10px;
     margin-top: 5px;
     color: gray;
 }

 .container .right img {
     width: 820px;
     height: 586px;
 }

 .container .right {
     position: relative;
 }

 .badge {
     position: absolute;
     bottom: 0;
     right: 0;
     margin-right: 25px;
     width: 500px;
     height: 100px;
     background: black;
     justify-content: center;
     align-items: center;
 }

 .full-intro {
     display: flex;
     flex-direction: row;
     color: #FFF;

 }

 .full-intro .bleft img {
     width: 75px;
     height: 75px;
     border-radius: 100%;
     margin-right: 15px;
     padding: 25px 0px 10px 25px;
 }

 .badge .bright h3 {
     color: #FFF;
     font-family: Lora;
     font-size: 24px;
     font-weight: 600;
     margin-left: 5px;
 }

 .badge .bright p {
     color: #FFF;
     font-family: Montserrat;
     font-size: 18px;
     font-weight: 300;
     margin-left: 5px;
     margin-top: -15px;
 }

 .badge h2 {
     color: #FFF;
     font-family: Lora;
     font-size: 36px;
     font-weight: 600;
     margin-left: 25px;
     margin-top: 5px;
 }


 footer p {
     padding-top: 150px;
     color: #BDBDBD;
     text-align: center;
     font-family: Poppins;
     font-size: 18px;
     font-weight: 500;
 }

 footer a {
     color: #BDBDBD;
     font-family: Poppins;
     font-size: 18px;
     font-weight: 700;
     text-decoration-line: underline;
 }

 /* Responsive design for mobile devices */

 @media screen and (max-width: 576px) {
     body {
         padding: 50px 25px;
     }

     nav {
         flex-direction: column;
         align-items: center;
     }

     nav a {
         display: block;
         margin: 50px 10px;

     }

     .container {
         flex-direction: column;
         align-items: center;
         margin-top: 30px;
         gap: 50px;
     }

     .container .left h1 {
         font-size: 36px;
     }

     .container .left p {
         width: 100%;
     }

     .container .right img {
         width: 100%;
         height: 100%;
     }

     .badge {
         bottom: -90px;
         width: 250px;
         height: 150px;
     }

     .badge .bright h3 {
         margin-top: 25px;
         font-size: 18px;
     }

     .badge .bright p {
         font-size: 14px;
     }

     .full-intro .bleft img {
         width: 50px;
         height: 50px;
     }

     .badge h2 {
         font-size: 20px;
         margin-left: 15px;
     }

     footer p {
         padding-top: 150px;
     }

     footer a {
         font-size: 14px;
     }

 }